:root {
    /* Color Palette */
    --background: #121212;
    --primary: #1E1E1E;
    --secondary: #555555;
    --accent: #BB86FC;

    --text-primary: #E0E0E0;
    --text-secondary: #121212;

    --successs : #03DAC5;
    --warning : #FFB74D;
    --error : #CF6679;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text-primary);
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 320px;
    height: 540px;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 20px;
}

.main-wrapper {
    /* display: none; */
}
/* -------------------------------------------------------------------------- */



/* --------------------------- Search Bar Section --------------------------- */
.search-bar {
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid transparent;
    color: var(--text-secondary);
    border-radius: 10px;
}

.search-input::placeholder {
    color: var(--secondary);
}

.search-input:hover {
    border: 1px solid var(--secondary);
}

.search-btn {
    position: absolute;
    right: 12px;
    top: 8px;
    height: 24px;
    cursor: pointer;
}
/* -------------------------------------------------------------------------- */



/* --------------------- Location and Date Info Section --------------------- */
.location-date-container {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.location-date-info {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.15rem;
}
/* -------------------------------------------------------------------------- */



/* ------------------------- Weather Summary Section ------------------------ */
.weather-summary-container {
    /* border: 1px solid; */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.weather-summary-img {
    /* border: 1px solid; */
    margin: 0 50px 0 20px;
}

.weather-summary-info {
    /* border: 1px solid; */
    font-size: 1.3rem;
}
/* -------------------------------------------------------------------------- */



/* ------------------------ Weather Condition Section ----------------------- */
.weather-condition-container {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.condition-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.condition-icon {
    width: 30px;
    height: 30px;
}

.condition-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
/* -------------------------------------------------------------------------- */



/* ------------------------ Weather Forecast Section ------------------------ */
.weather-forecast-container {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;    
    margin-bottom: 20px;
}

.forecast-item {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
}
.forecast-item-img {
    width: 35px;
    height: 35px;
}
/* -------------------------------------------------------------------------- */


.bottom-line {
    width: 32%;
    height: 4px;
    margin: auto;
    background-color: var(--text-primary);
    opacity: 50%;
    border-radius: 10px;
}
